{% extends "main.html" %}

{% block content %}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #ededed;
    }

    div {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 2rem;
        border-radius: 0.5rem;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
        width: 30rem;
        margin: 0 auto;
        margin-top: 4rem;
    }

    h2 {
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.2rem;
        margin-top: 0;
        margin-bottom: 1rem;
    }
</style>
<div>
    <h2>Welcome to our Wiki!</h2>
    <p>Our community is dedicated to preserving the rich history of retro arcade games, and we invite you to join us in
        this mission. Whether you're a passionate gamer, a historian, or just someone who loves the nostalgia of the
        arcade scene, you'll find something to enjoy here..</p>
    <p>In this Wiki you can browse through a vast collection of information about classic arcade games, including their
        development history, gameplay mechanics, and notable achievements. Our goal is to create a comprehensive
        database that celebrates the artistry and innovation of these timeless games.</p>
    <p>If you have any questions or suggestions, please feel free to contact us. We would love to hear from you!</p>

    <h2>About the Authors</h2>

    <h3>Manuel Mares</h3>
    <img src=https://storage.googleapis.com/author_images/ManuelMares alt="Manuel Mares' photo">
    <p> Manuel Mares is a student of the Computer Science degree at New Mexico State University. He is originally from
        Veracruz, Mexico. He likes music, drawing, and to play soccer.</p>

    <h3>Andro Aguilar</h3>
    <img src=https://storage.googleapis.com/author_images/AndroAguilar.png alt="Manuel Mares' photo">

    <h3>Matthew Getachew</h3>
    <img src="https://storage.googleapis.com/author_images/MatthewGet.JPG" alt="Matthew Getachew's photo">
    <p> Matthew is a sophomore Computer Science major at Howard University. He is originally from Addis Ababa Ethiopia,
        but lives in Colorado.</p>

</div>
{% endblock content %}