<!DOCTYPE html>
<html>

<head>
    <head>
        <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki.-->
        <title>New wiki page</title>
    </head>
</head>

<body>
    <!-- TODO(Project 1): Implement routes. -->
    <div style="height: 100vh;">       
        <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki.-->        
        <div class="pageHeader_container" id="pageHeader_container" style="background-color: rgb(215, 43, 43); display:flex; width:100%; height: 10%;">
            This is the header of our new page!
        </div>
            
        <div class="body_container" id="body_container" style="background-color: rgb(200, 200, 202); display:flex; width:100%; height: 80%;">
            <div class="body_leftPanel" id="body_leftPanel" style="background-color: rgb(237, 237, 238); display:flex; width:25%; height: 100%;">
                left panel
            </div>
            <div class="body_leftPanel" id="body_leftPanel" style="background-color: rgb(169, 169, 169); display:flex; width:50%; height: 100%;">
                This is only a draft. We do not yet how it will look
            </div>
            <div class="body_leftPanel" id="body_leftPanel" style="background-color: rgb(237, 237, 238); display:flex; width:25%; height: 100%;">
                and right panel
            </div>
        </div>
        <div class="footer_container" id="footer_container" style="background-color: rgb(203, 203, 203); display:flex; width:100%; height: 10%;">
            This is the header of our new page!
        </div>
    </div>
</body>

</html>