{% extends "main.html" %}


<!-- 
    for loop, call var, if condition
 -->

{% block content %}
    <div class="pagesContainer">
        {% if page %}
            <p>{{page}}</p>
        {% else %}
            <h1><b>Pages contained in this Wiki</b></h1>
            <ul>
                {% for page in listPages %}
                    <li>
                        <a href="{{url_for('current_page', path=page)}}">{{page}}</a>
                    </li>
                {% endfor %}     
            </ul>
        {% endif %}
    </div>



    {% block css %}
    <style rel="stylesheet" type="text/css">
        .pagesContainer{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            width: 100%;
            height: 100%;

        }
    </style>
    {% endblock css %}
    
    {% block javascript %}
        <script type="text/javascript">
            
        </script>
    {% endblock javascript %}
    
{% endblock content %}